<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/images/decorate/wine-glasses.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/tailwind.css" />
    <link rel="stylesheet" href="../assets/css/login.css" />

    <title>Checkout</title>
  </head>
  <body>
    <!-- Header top -->
    <header>
      <div class="max-w-[1280px] mx-auto px-4">
        <div
          class="max-w-[1280px] mx-auto px-4 flex items-center justify-between"
        >
          <nav class="menu--moblie_container relative md:hidden">
            <div class="menu--moblie_icon p-4">
              <i class="fa-solid fa-bars text-lg"></i>
            </div>
            <ul
              class="absolute w-[250px] bg-[#efeff0] top-12 left-3 menu-mobile rounded-md z-10 py-2"
            >
              <li class="px-5 hover:bg-[rgba(0,0,0,0.2)] py-3">
                <a href="#" class="py-3">Tài khoản của tôi</a>
              </li>
              <li class="px-5 hover:bg-[rgba(0,0,0,0.2)] py-3">
                <a href="./cart.html" class="py-3">Giỏ hàng</a>
              </li>
              <li class="px-5 hover:bg-[rgba(0,0,0,0.2)] py-3">
                <a href="./login.html" class="py-3">Đăng nhập</a>
              </li>
              <li class="px-5 hover:bg-[rgba(0,0,0,0.2)] py-3">
                <a href="./register.html" class="py-3">Đăng kí</a>
              </li>
            </ul>
          </nav>
          <nav class="hidden md:flex">
            <ul class="flex">
              <li class="px-5 hover:bg-[rgba(0,0,0,0.2)] py-3">
                <a href="#" class="py-3">Tài khoản của tôi</a>
              </li>
              <li class="px-5 hover:bg-[rgba(0,0,0,0.2)] py-3">
                <a href="./cart.html" class="py-3">Giỏ hàng</a>
              </li>
              <li class="btn-login px-5 hover:bg-[rgba(0,0,0,0.2)] py-3">
                <a href="./login.html" class="py-3">Đăng nhập</a>
              </li>
              <li class="btn-register px-5 hover:bg-[rgba(0,0,0,0.2)] py-3">
                <a href="./register.html" class="py-3">Đăng kí</a>
              </li>
              <li
                class="btn-logout px-5 bg-red-50 hover:bg-[rgba(0,0,0,0.2)] py-3"
              >
                <a href="/" class="py-3">Đăng xuất</a>
              </li>
            </ul>
          </nav>
          <div class="relative">
            <input
              type="text"
              placeholder="Tìm kiếm"
              class="bg-white py-2 px-4 rounded-md border"
            />
            <span class="absolute top-2 right-4">
              <i class="fa-solid fa-magnifying-glass text-gray-600"></i>
            </span>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Header -->
    <header class="bg-black h-[100px] sticky top-0 right-0 left-0 z-4">
      <div
        class="max-w-[1280px] mx-auto px-4 flex items-center justify-between lg:justify-center"
      >
        <img
          class="w-[120px]"
          src="../assets//images//decorate/wine-logo1.png"
          alt="logo"
        />
        <nav class="hidden lg:flex">
          <ul class="flex text-white">
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="/" class="py-3 uppercase text-[#fcce00]">Trang chủ</a>
            </li>
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="./filter-product.html" class="py-3 uppercase"
                >Rượu vang trắng</a
              >
            </li>
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="./filter-product.html" class="py-3 uppercase"
                >Rượu vang đỏ</a
              >
            </li>
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="./introduce.html" class="py-3 uppercase">thông tin</a>
            </li>
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="./blog.html" class="py-3 uppercase">Blog</a>
            </li>
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="./contact.html" class="py-3 uppercase">Liên hệ</a>
            </li>
          </ul>
        </nav>
        <nav class="menu--moblie_container relative lg:hidden">
          <div class="menu--moblie_icon p-4">
            <i class="fa-solid fa-bars text-white text-lg"></i>
          </div>
          <ul
            class="absolute w-[250px] bg-[#efeff0] top-12 right-3 menu-mobile text-cyan-700 rounded-md shadow-md"
          >
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="/" class="py-3 uppercase">Trang chủ</a>
            </li>
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="./filter-product.html" class="py-3 uppercase"
                >Rượu vang trắng</a
              >
            </li>
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="./filter-product.html" class="py-3 uppercase"
                >Rượu vang đỏ</a
              >
            </li>
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="./filter-product.html" class="py-3 uppercase"
                >Champane</a
              >
            </li>
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="./introduce.html" class="py-3 uppercase">Thông tin</a>
            </li>
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="./blog.html" class="py-3 uppercase">Blog</a>
            </li>
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="./contact.html" class="py-3 uppercase">Liên hệ</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- Checkout Section -->
    <section class="mx-auto w-full max-w-7xl p-4">
      <div class="grid sm:px-10 lg:grid-cols-2 lg:px-20 xl:px-32">
        <div class="px-4 pt-8">
          <p class="text-xl text-blue-800 font-medium">Sản phẩm đặt mua</p>
          <div
            id="product-checkout-block"
            class="mt-8 space-y-3 rounded-lg border bg-white px-2 py-4 sm:px-6"
          >
            <!-- <div class="flex flex-col rounded-lg bg-white sm:flex-row">
              <img
                class="m-2 h-24 w-28 rounded-md border object-cover object-center"
                src="../assets/images/products/1.jpg"
                alt=""
              />
              <div class="flex w-full flex-col px-4 py-4">
                <span class="font-semibold">Rượu vang từ pháp</span>
                <span class="float-right text-gray-400 font-thin"
                  >42EU - 8.5US</span
                >
                <p class="text-lg font-thin">345.000đ</p>
              </div>
            </div> -->
          </div>
        </div>
        <div class="mt-10 text-blue-800 bg-white px-4 pt-8 lg:mt-0">
          <p class="text-xl font-medium">Chi tiết thanh toán</p>
          <div class="">
            <label for="email" class="mt-4 mb-2 block text-sm font-medium"
              >Email</label
            >
            <div class="">
              <input
                type="text"
                id="email"
                name="email"
                class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:border-blue-500 focus:ring-blue-500"
                placeholder="nhthien.dut@gmail.com"
              />
            </div>
            <label for="card-holder" class="mt-4 mb-2 block text-sm font-medium"
              >Chủ tài khoản</label
            >
            <div class="">
              <input
                type="text"
                id="card-holder"
                name="card-holder"
                class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm uppercase shadow-sm outline-none focus:border-blue-500 focus:ring-blue-500"
                placeholder="Tên chủ tài khoản"
              />
            </div>
            <label for="card-desc" class="mt-4 mb-2 block text-sm font-medium"
              >Chi tiết thẻ</label
            >
            <div class="">
              <input
                type="text"
                id="card-desc"
                name="card-desc"
                class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:border-blue-500 focus:ring-blue-500"
                placeholder="xxxx-xxxx-xxxx"
              />
            </div>
            <label for="address" class="mt-4 mb-2 block text-sm font-medium"
              >Địa chỉ giao hàng</label
            >
            <div class="">
              <input
                type="text"
                id="address"
                name="address"
                class="w-full rounded-md border border-gray-200 px-4 py-3 text-sm shadow-sm outline-none focus:border-blue-500 focus:ring-blue-500"
                placeholder="12 Fhome Lý Thường Kiệt"
              />
            </div>
          </div>
          <!-- Total -->
          <div class="mt-6 border-t border-b py-2">
            <div class="flex items-center justify-between">
              <p class="text-sm font-medium text-blue-800">Tiền hàng</p>
              <p id="product-money" class="font-semibold text-blue-800"></p>
            </div>
            <div class="flex items-center justify-between">
              <p class="text-sm font-medium text-blue-800">Vận chuyển</p>
              <p class="font-semibold text-blue-800">20000 đ</p>
            </div>
          </div>
          <div class="mt-6 flex items-center justify-between">
            <p class="text-sm font-medium text-blue-800">Tổng tiền</p>
            <p
              id="total-money"
              class="text-2xl font-semibold text-blue-800"
            ></p>
          </div>
          <button
            class="btn-payment mt-4 mb-8 w-full rounded-md bg-blue-900 px-6 py-3 font-medium text-white"
          >
            Thanh toán
          </button>
        </div>
      </div>
      <div class="">
        <ol class="flex items-center w-full">
          <li
            class="flex w-full items-center text-white after:content-[''] after:w-full after:h-1 after:border-b after:border-blue-100 after:border-4 after:inline-block dark:after:border-blue-600 "
          >
            <span
              class="flex items-center justify-center w-10 h-10 bg-blue-600 rounded-full lg:h-12 lg:w-12 shrink-0"
            >
              <i class="fa-solid fa-cart-shopping text-xl"></i>
            </span>
          </li>
          <li
          class="flex w-full items-center text-white after:content-[''] after:w-full after:h-1 after:border-b after:border-blue-100 after:border-4 after:inline-block dark:after:border-gray-400 "
          >
            <span
              class="flex items-center justify-center w-10 h-10 bg-blue-600 rounded-full lg:h-12 lg:w-12 shrink-0"
            >
            <i class="fa-solid fa-money-bill text-xl"></i>

            </span>
          </li>
          <li class="flex items-center w-full">
            <span
              class="flex items-center justify-center w-10 h-10 bg-gray-100 rounded-full lg:h-12 lg:w-12 dark:bg-gray-200 shrink-0"
            >
              <i class="fa-solid fa-clipboard-check text-xl"></i>
            </span>
          </li>
        </ol>
      </div>
    </section>

    <!-- Footer -->
    <footer class="block bg-[#f7f7f7] mt-10">
      <div class="px-5 md:px-10">
        <div class="mx-auto w-full max-w-7xl">
          <div class="py-16 md:py-12">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
              <div
                class="flex flex-col gap-4 items-center w-full text-center pb-4"
              >
                <a href="#" class="inline-block max-w-full">
                  <img
                    src="../assets/images/decorate/wine-logo1.png"
                    alt="logo"
                    class="inline-block w-[100px]"
                  />
                </a>
                <div>
                  <span>
                    <span
                      ><i
                        class="fa-solid fa-location-dot mr-2 text-[#e62829]"
                      ></i
                    ></span>
                    <span class="text-[#636262]"
                      >Tòa nhà FHome 14 Lý Thường Kiệt</span
                    >
                  </span>
                  <br />
                  <span>
                    <span>
                      <i class="fa-solid fa-envelope mr-2 text-[#feb207]"></i>
                    </span>
                    <a class="text-[#636262]" href="nhthien.dut@gmail.com">
                      winepro.contact@gmail.com
                    </a>
                  </span>
                </div>
                <div class="flex gap-4">
                  <i class="fa-brands fa-square-facebook text-[#0035bb]"></i>
                  <i class="fa-brands fa-instagram text-[#f30395]"></i>
                  <i class="fa-brands fa-twitter text-[#1c9cea]"></i>
                </div>
              </div>
              <div
                class="flex flex-col items-center font-semibold pt-4 sm:pt-0"
              >
                <div class="mb-4 ml-0 mr-0 lg:ml-0 lg:mr-0">
                  <div class="font-bold uppercase">Hỗ trợ</div>
                </div>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Trung tâm trợ giúp
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Wine Pro
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Chính sách bán hàng
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Phương thức vận chuyển
                </a>
              </div>
              <div
                class="flex flex-col items-center font-semibold pt-4 sm:pt-0"
              >
                <div class="mb-4">
                  <div class="font-bold uppercase">Đón tiếp khách</div>
                </div>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Chính sách nhân viên
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Mua bán trực tuyến
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Tài nguyên về đón tiếp khách
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Diễn đàn cộng đồng
                </a>
              </div>
              <div
                class="flex flex-col items-center font-semibold pt-4 sm:pt-0"
              >
                <div class="mb-4">
                  <div class="font-bold uppercase">Wine Pro</div>
                </div>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Trang tin tức
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Tính năng mới
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Cơ hội nghề nghiệp
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Nhà đầu tư
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script type="module" src="../js/checkout.js"></script>
  </body>
</html>
