<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/x-icon"
      href="/assets/images/decorate/wine-glasses.png"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../assets/css/base.css" />
    <link rel="stylesheet" href="../assets/css/home.css" />
    <title>Home Page</title>
  </head>
  <body class="">
    <!-- Top Header & Banner -->
    <header>
      <div
        class="bg-[url('../assets/images/decorate/slide1.jpg')] h-[600px] bg-no-repeat bg-center bg-cover"
      >
        <div
          class="max-w-[1280px] mx-auto px-4 flex items-center justify-between bg-[rgba(0,0,0,0.2)]"
        >
          <nav class="menu--moblie_container relative md:hidden">
            <div class="menu--moblie_icon p-4">
              <i class="fa-solid fa-bars text-white text-lg"></i>
            </div>
            <ul
              class="absolute w-[250px] bg-[rgba(0,0,0,0.2)] top-12 left-3 menu-mobile text-white rounded-md"
            >
              <li class="px-5 hover:bg-[rgba(0,0,0,0.5)] py-3">
                <a href="#" class="py-3">Tài khoản của tôi</a>
              </li>
              <li class="px-5 hover:bg-[rgba(0,0,0,0.5)] py-3">
                <a href="./cart.html" class="py-3">Giỏ hàng</a>
              </li>
              <li class="px-5 hover:bg-[rgba(0,0,0,0.5)] py-3">
                <a href="./login.html" class="py-3">Đăng nhập</a>
              </li>
              <li class="px-5 hover:bg-[rgba(0,0,0,0.5)] py-3">
                <a href="./register.html" class="py-3">Đăng kí</a>
              </li>
            </ul>
          </nav>
          <nav class="hidden md:flex">
            <ul class="flex text-white">
              <li class="px-5 hover:bg-[rgba(0,0,0,0.5)] py-3">
                <a href="#" class="py-3">Tài khoản của tôi</a>
              </li>
              <li class="px-5 hover:bg-[rgba(0,0,0,0.5)] py-3">
                <a href="./cart.html" class="py-3">Giỏ hàng</a>
              </li>
              <li class="px-5 hover:bg-[rgba(0,0,0,0.5)] py-3">
                <a href="./login.html" class="py-3">Đăng nhập</a>
              </li>
              <li class="px-5 hover:bg-[rgba(0,0,0,0.5)] py-3">
                <a href="./register.html" class="py-3">Đăng kí</a>
              </li>
            </ul>
          </nav>
          <div class="relative">
            <input
              type="text"
              placeholder="Tìm kiếm"
              class="bg-white py-2 px-4 rounded-md"
            />
            <span class="absolute top-2 right-4">
              <i class="fa-solid fa-magnifying-glass text-gray-600"></i>
            </span>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Header -->
    <header class="bg-black h-[100px] sticky top-0 right-0 left-0 z-10">
      <div
        class="max-w-[1280px] mx-auto px-4 flex items-center justify-between lg:justify-center"
      >
        <img
          class="w-[120px]"
          src="../assets//images//decorate/wine-logo1.png"
          alt="logo"
        />
        <nav class="hidden lg:flex">
          <ul class="flex text-white">
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="#" class="py-3 uppercase text-[#fcce00]">Trang chủ</a>
            </li>
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="./filter-product.html" class="py-3 uppercase"
                >Rượu vang trắng</a
              >
            </li>
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="./filter-product.html" class="py-3 uppercase"
                >Rượu vang đỏ</a
              >
            </li>
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="./introduce.html" class="py-3 uppercase">thông tin</a>
            </li>
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="./blog.html" class="py-3 uppercase">Blog</a>
            </li>
            <li class="px-8 hover:bg-[rgba(255,255,255,0.1)] py-6">
              <a href="./contact.html" class="py-3 uppercase">Liên hệ</a>
            </li>
          </ul>
        </nav>
        <nav class="menu--moblie_container relative lg:hidden">
          <div class="menu--moblie_icon p-4">
            <i class="fa-solid fa-bars text-white text-lg"></i>
          </div>
          <ul
            class="absolute w-[250px] bg-[#efeff0] top-12 right-3 menu-mobile text-cyan-700 rounded-md shadow-md"
          >
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="#" class="py-3 uppercase">Trang chủ</a>
            </li>
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="./filter-product.html" class="py-3 uppercase"
                >Rượu vang trắng</a
              >
            </li>
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="./filter-product.html" class="py-3 uppercase"
                >Rượu vang đỏ</a
              >
            </li>
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="./filter-product.html" class="py-3 uppercase"
                >Champane</a
              >
            </li>
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="./blog.html" class="py-3 uppercase">Blog</a>
            </li>
            <li class="px-8 hover:bg-[rgba(0,0,0,0.1)] py-3">
              <a href="./contact.html" class="py-3 uppercase">Liên hệ</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Introduce -->
    <section class="relative">
      <img
        class="absolute w-[200px] top-0 left-0 z-[-10]"
        src="../assets/images/decorate/grape-purple.jpg"
        alt="grape-purple"
      />
      <div
        class="max-w-[1024px] mx-auto p-20 flex flex-col items-center justify-center"
      >
        <h2 class="text-center text-lg uppercase tracking-wider">Giới thiệu</h2>
        <img
          class="w-[100px]"
          src="../assets/images/decorate/title-dark.png"
          alt="title-dark"
        />
        <p class="py-5 text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta vero
          consectetur neque provident maiores dolore magnam ipsum numquam quam
          voluptate, incidunt itaque exercitationem qui minima officiis sit
          labore molestiae eos! Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Laudantium aliquam repellat eveniet eligendi earum
          dolorem, molestiae placeat vitae assumenda voluptatibus dolor itaque!
          Ratione vel repudiandae explicabo fugiat fuga omnis dicta.
        </p>
        <button
          type="button"
          class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
        >
          Xem thêm
        </button>
      </div>
      <div class="max-w-[1024px] mx-auto">
        <div class="relative">
          <img
            class=""
            src="../assets/images/decorate/wine.jpg"
            alt="original-1"
          />
          <div
            class="absolute top-[50%] left-0 right-0 mx-auto max-w-[800px] p-12 bg-white flex flex-col md:flex-row items-center justify-center gap-6"
          >
            <img
              class="w-[150px] md:w-[250px]"
              src="../assets/images/decorate/product9.jpg"
              alt="product10"
            />
            <div class="">
              <h3 class="uppercase text-2xl pb-2">Rượu nho năm 1987</h3>
              <img
                src="../assets/images/decorate/titleleft-dark.png"
                alt="titleleft-dark"
              />
              <p class="text-3xl text-[#f25e23] py-5">330.000đ</p>
              <button
                type="button"
                class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
              >
                Add to cart
              </button>
              <p class="py-5">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe,
                hic iusto veritatis nisi suscipit omnis? Reiciendis non dolore
                repellendus natus excepturi sit vel repudiandae at minus hic,
                veritatis illum corrupti.
              </p>
              <div class="grid grid-cols-2 text-[#f25e23]">
                <p class="border border-[#f25e23] text-center py-6">
                  <strong class="text-3xl">334</strong> ngày
                </p>
                <p class="border border-[#f25e23] text-center py-6">
                  <strong class="text-3xl">26</strong> giờ
                </p>
                <p class="border border-[#f25e23] text-center py-6">
                  <strong class="text-3xl">60</strong> phút
                </p>
                <p class="border border-[#f25e23] text-center py-6">
                  <strong class="text-3xl">15</strong> giây
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- New product -->
    <section
      class="max-w-[1280px] mx-auto mt-[800px] md:mt-[350px] sm:mt-[700px]"
    >
      <div class="flex items-center flex-col">
        <h2 class="text-center text-lg uppercase tracking-wider">
          Sản phẩm mới
        </h2>
        <img
          class="w-[100px]"
          src="../assets/images/decorate/title-dark.png"
          alt="title-dark"
        />
      </div>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-3 lg:gap-6 mt-12 px-4"
      >
        <div class="text-center flex flex-col shadow-md py-4 rounded-md">
          <img
            class="w-[200px] mx-auto"
            src="../assets/images/products/1.jpg"
            alt=""
          />
          <h4 class="py-3 uppercase">Rượu vang đà lạt</h4>
          <div class="py-4">
            <span class="text-[#f25e23] pr-2">370.000đ</span>
            <span class="line-through text-gray-600">450.000đ</span>
          </div>
          <button
            type="button"
            class="block text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mx-12 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            Add to cart
          </button>
        </div>
        <div class="text-center flex flex-col shadow-md py-4 rounded-md">
          <img
            class="w-[200px] mx-auto"
            src="../assets/images/products/1.jpg"
            alt=""
          />
          <h4 class="py-3 uppercase">Rượu vang đà lạt</h4>
          <div class="py-4">
            <span class="text-[#f25e23] pr-2">370.000đ</span>
            <span class="line-through text-gray-600">450.000đ</span>
          </div>
          <button
            type="button"
            class="block text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mx-12 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            Add to cart
          </button>
        </div>
        <div class="text-center flex flex-col shadow-md py-4 rounded-md">
          <img
            class="w-[200px] mx-auto"
            src="../assets/images/products/1.jpg"
            alt=""
          />
          <h4 class="py-3 uppercase">Rượu vang đà lạt</h4>
          <div class="py-4">
            <span class="text-[#f25e23] pr-2">370.000đ</span>
            <span class="line-through text-gray-600">450.000đ</span>
          </div>
          <button
            type="button"
            class="block text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mx-12 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            Add to cart
          </button>
        </div>
        <div class="text-center flex flex-col shadow-md py-4 rounded-md">
          <img
            class="w-[200px] mx-auto"
            src="../assets/images/products/1.jpg"
            alt=""
          />
          <h4 class="py-3 uppercase">Rượu vang đà lạt</h4>
          <div class="py-4">
            <span class="text-[#f25e23] pr-2">370.000đ</span>
            <span class="line-through text-gray-600">450.000đ</span>
          </div>
          <button
            type="button"
            class="block text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mx-12 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            Add to cart
          </button>
        </div>
      </div>
    </section>
    <!-- Grid Image -->
    <section class="mt-12">
      <div class="grid grid-cols-4">
        <img
          class="block h-[100px] lg:h-[300px]"
          src="../assets/images/decorate/original-1.jpg"
          alt="image"
        />
        <img
          class="block h-[150px] lg:h-[300px]"
          src="../assets/images/decorate/original-2.jpg"
          alt="image"
        />
        <img
          class="block h-[150px] lg:h-[300px]"
          src="../assets/images/decorate/original-1.jpg"
          alt="image"
        />
        <img
          class="block h-[150px] lg:h-[300px]"
          src="../assets/images/decorate/original-2.jpg"
          alt="image"
        />
        <img
          class="block h-[150px] lg:h-[300px]"
          src="../assets/images/decorate/original-2.jpg"
          alt="image"
        />
        <img
          class="block h-[150px] lg:h-[300px]"
          src="../assets/images/decorate/original-1.jpg"
          alt="image"
        />
        <img
          class="block h-[150px] lg:h-[300px]"
          src="../assets/images/decorate/original-2.jpg"
          alt="image"
        />
        <img
          class="block h-[150px] lg:h-[300px]"
          src="../assets/images/decorate/original-1.jpg"
          alt="image"
        />
      </div>
    </section>
    <!-- Sellings product -->
    <section class="max-w-[1280px] mx-auto mt-[100px]">
      <div class="flex items-center flex-col">
        <h2 class="text-center text-lg uppercase tracking-wider">
          Sản phẩm bán chạy
        </h2>
        <img
          class="w-[100px]"
          src="../assets/images/decorate/title-dark.png"
          alt="title-dark"
        />
      </div>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-3 lg:gap-6 mt-12 px-4"
      >
        <div class="text-center flex flex-col shadow-md py-4 rounded-md">
          <img
            class="w-[200px] mx-auto"
            src="../assets/images/products/1.jpg"
            alt=""
          />
          <h4 class="py-3 uppercase">Rượu vang đà lạt</h4>
          <div class="py-4">
            <span class="text-[#f25e23] pr-2">370.000đ</span>
            <span class="line-through text-gray-600">450.000đ</span>
          </div>
          <button
            type="button"
            class="block text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mx-12 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            Add to cart
          </button>
        </div>
        <div class="text-center flex flex-col shadow-md py-4 rounded-md">
          <img
            class="w-[200px] mx-auto"
            src="../assets/images/products/1.jpg"
            alt=""
          />
          <h4 class="py-3 uppercase">Rượu vang đà lạt</h4>
          <div class="py-4">
            <span class="text-[#f25e23] pr-2">370.000đ</span>
            <span class="line-through text-gray-600">450.000đ</span>
          </div>
          <button
            type="button"
            class="block text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mx-12 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            Add to cart
          </button>
        </div>
        <div class="text-center flex flex-col shadow-md py-4 rounded-md">
          <img
            class="w-[200px] mx-auto"
            src="../assets/images/products/1.jpg"
            alt=""
          />
          <h4 class="py-3 uppercase">Rượu vang đà lạt</h4>
          <div class="py-4">
            <span class="text-[#f25e23] pr-2">370.000đ</span>
            <span class="line-through text-gray-600">450.000đ</span>
          </div>
          <button
            type="button"
            class="block text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mx-12 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            Add to cart
          </button>
        </div>
        <div class="text-center flex flex-col shadow-md py-4 rounded-md">
          <img
            class="w-[200px] mx-auto"
            src="../assets/images/products/1.jpg"
            alt=""
          />
          <h4 class="py-3 uppercase">Rượu vang đà lạt</h4>
          <div class="py-4">
            <span class="text-[#f25e23] pr-2">370.000đ</span>
            <span class="line-through text-gray-600">450.000đ</span>
          </div>
          <button
            type="button"
            class="block text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mx-12 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
          >
            Add to cart
          </button>
        </div>
      </div>
    </section>
    <!-- News and Blog -->
    <section>
      <div
        class="max-w-[1280px] mx-auto mt-[100px] px-4 flex flex-col md:flex-row items-center justify-between"
      >
        <div>
          <div class="flex items-center flex-col">
            <h2 class="text-center text-lg uppercase tracking-wider">
              Tin tức & Blog
            </h2>
            <img
              class="w-[100px]"
              src="../assets/images/decorate/title-dark.png"
              alt="title-dark"
            />
          </div>
          <div class="flex flex-col sm:flex-row items-center mt-5 p-4 gap-8">
            <div class="flex flex-col">
              <img
                class="w-[420px] h-[230px] object-cover"
                src="../assets/images/decorate/blog2.jpg"
                alt="blog1"
              />
              <h4 class="uppercase py-4 font-bold text-[#f25e23]">
                Vang Thăng Long classic
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus distinctio explicabo velit, asperiores esse eligendi
                earum corrupti voluptatibus maiores eveniet numquam adipisci
                tenetur animi reprehenderit. Ab, et cumque. Error, molestiae!
              </p>
              <a
                class="my-3 bg-[#1f2937] text-white py-2 text-center rounded-md w-[90%]"
                href="./blog.html"
                >Read more</a
              >
            </div>
            <div class="flex flex-col">
              <img
                class="w-[420px] h-[230px] object-cover"
                src="../assets/images/decorate/blog1.png"
                alt="blog1"
              />
              <h4 class="uppercase py-4 font-bold text-[#f25e23]">
                Vang Thăng Long classic
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Doloribus distinctio explicabo velit, asperiores esse eligendi
                earum corrupti voluptatibus maiores eveniet numquam adipisci
                tenetur animi reprehenderit. Ab, et cumque. Error, molestiae!
              </p>
              <a
                class="my-3 bg-[#1f2937] text-white py-2 text-center rounded-md w-[90%]"
                href="./blog.html"
                >Read more</a
              >
            </div>
          </div>
        </div>
        <div>
          <div class="flex items-center flex-col py-4">
            <h2 class="text-center text-lg uppercase tracking-wider">
              Khách hàng
            </h2>
            <img
              class="w-[100px]"
              src="../assets/images/decorate/title-dark.png"
              alt="title-dark"
            />
          </div>
          <div class="flex items-center flex-col text-center">
            <p class="w-6 h-6 bg-[#f25e23] rounded-full">''</p>
            <p class="py-4">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus
              distinctio explicabo velit, asperiores esse eligendi earum
              corrupti
            </p>
            <img
              class="w-[150px]"
              src="../assets/images/decorate/avatar.jpg"
              alt="avatar"
            />
            <p class="py-4">Nguyen Van B</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer -->
    <footer class="block bg-[#f7f7f7] mt-10">
      <div class="px-5 md:px-10">
        <div class="mx-auto w-full max-w-7xl">
          <div class="py-16 md:py-12">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
              <div
                class="flex flex-col gap-4 items-center w-full text-center pb-4"
              >
                <a href="#" class="inline-block max-w-full">
                  <img
                    src="../assets/images/decorate/wine-logo1.png"
                    alt="logo"
                    class="inline-block w-[100px]"
                  />
                </a>
                <div>
                  <span>
                    <span
                      ><i
                        class="fa-solid fa-location-dot mr-2 text-[#e62829]"
                      ></i
                    ></span>
                    <span class="text-[#636262]"
                      >Tòa nhà FHome 14 Lý Thường Kiệt</span
                    >
                  </span>
                  <br />
                  <span>
                    <span>
                      <i class="fa-solid fa-envelope mr-2 text-[#feb207]"></i>
                    </span>
                    <a class="text-[#636262]" href="nhthien.dut@gmail.com">
                      winepro.contact@gmail.com
                    </a>
                  </span>
                </div>
                <div class="flex gap-4">
                  <i class="fa-brands fa-square-facebook text-[#0035bb]"></i>
                  <i class="fa-brands fa-instagram text-[#f30395]"></i>
                  <i class="fa-brands fa-twitter text-[#1c9cea]"></i>
                </div>
              </div>
              <div
                class="flex flex-col items-center font-semibold pt-4 sm:pt-0"
              >
                <div class="mb-4 ml-0 mr-0 lg:ml-0 lg:mr-0">
                  <div class="font-bold uppercase">Hỗ trợ</div>
                </div>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Trung tâm trợ giúp
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Wine Pro
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Chính sách bán hàng
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Phương thức vận chuyển
                </a>
              </div>
              <div
                class="flex flex-col items-center font-semibold pt-4 sm:pt-0"
              >
                <div class="mb-4">
                  <div class="font-bold uppercase">Đón tiếp khách</div>
                </div>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Chính sách nhân viên
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Mua bán trực tuyến
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Tài nguyên về đón tiếp khách
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Diễn đàn cộng đồng
                </a>
              </div>
              <div
                class="flex flex-col items-center font-semibold pt-4 sm:pt-0"
              >
                <div class="mb-4">
                  <div class="font-bold uppercase">Wine Pro</div>
                </div>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Trang tin tức
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Tính năng mới
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Cơ hội nghề nghiệp
                </a>
                <a
                  href="#"
                  class="py-2 font-normal text-[#636262] transition hover:text-[#302dd7]"
                >
                  Nhà đầu tư
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
